# SELECT 查询

In [2]:
import sqlite3

sqlite_data_path = './ewhale.db'

In [5]:
# Python 操作数据库一般步骤
conn = sqlite3.connect(sqlite_data_path)  # 连接 sqlite
cur = conn.cursor()  # 创建游标
cur.execute('SELECT text.url FROM text LIMIT 5')  # sql 语句
conn.commit()  # 提交
cur.close()  # 关闭游标
conn.close()  # 关闭连接

In [6]:
# pandas 读取数据库
import pandas as pd
df = pd.read_sql(sql='SELECT text.url FROM text LIMIT 5', con=sqlite3.connect(sqlite_data_path))
df

                                       url
0  http://www.ewhale.cn/app-info/1040.html
1  http://www.ewhale.cn/app-info/1041.html
2  http://www.ewhale.cn/app-info/1042.html
3  http://www.ewhale.cn/app-info/1043.html
4  http://www.ewhale.cn/app-info/1044.html