# 联结表  

多表联结（join）  
多表联结可以替代子查询，一般联结比子查询效率高。

## 1、创建联结  

指定要联结的表和关联方式就可以了：  
SELECT vend_name, prod_name, prod_price  
FROM Vendors, Products  
WHERE Vendors.vend_id = Products.vend_id;  

### 内联结（inner join）  

上面的例子（等值联结）也称为内联结，内联结只显示被关联的行。  
内联结写法：SELECT 子句相同，FROM 子句指定 INNER JOIN 连接方式，ON 子句替代 WHERE 子句。  

SELECT vend_name, prod_name, prod_price  
FROM Vendors INNER JOIN Products  
&emsp;&emsp;ON Vendors.vend_id = Products.vend_id;  

### 联结多个表  

一条 SELECT 可以联结任意多个表：  
SELECT vend_name, prod_name, prod_price, quantity  
FROM Vendors, Products, OrderItems  
WHERE Vendors.vend_id = Products.vend_id  
&emsp;&emsp;&emsp;&emsp;AND OrderItems.prod_id = Products.prod_id  
&emsp;&emsp;&emsp;&emsp;AND order_num = 20007;

# 高级联结

## 1、表别名

注意：表别名只在查询执行中使用，不返回客户端，这是表别名和列别名的区别。

SELECT vend_name, prod_name, prod_price, quantity  
FROM Vendors AS v, Products AS p, OrderItems AS o   
WHERE v.vend_id = p.vend_id  
&emsp;&emsp;&emsp;&emsp;AND o.prod_id = p.prod_id  
&emsp;&emsp;&emsp;&emsp;AND order_num = 20007;

## 2、其他联结  

### 自联结（self join）  

自联结在同一个表多次引用的情况下使用  

例如下面的情况（需要两次引用 Customers 表）：  
SELECT cust_contact  
FROM Customers  
WHERE cust_name = (SELECT cust_name  
&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;FROM Customers  
&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;WHERE cust_contact = 'Jim Jones');  

用自联结的话：  
SELECT c1.cust_contact  
FROM Customers AS c1, Customers AS c2  
WHERE c1.cust_name = c2.cust_name  
&emsp;&emsp;AND c2.cust_contact = 'Jim Jones';  


### 自然联结（natural join）  

这个貌似没什么用......

SELECT C.*, O.order_num, O.order_date, OI.prod_id, OI.quantity, OI.item_price  
FROM Customers AS C, Orders AS O, OrderItems AS OI  
WHERE C.cust_id = O.cust_id  
&emsp;&emsp;AND OI.order_num = O.order_num  
&emsp;&emsp;AND prod_id = 'RGANO1';  


### 外链接（outer join）  

拼接两个表，并显示所有行，包括没有被关联的行。  
包括左联结、右联结、全联结。

#### 左联结（LEFT OUTER JOIN）  

显示 LEFT OUTER JOIN 关键字左边表的所有行：  
SELECT Customers.cust_id, Orders.order_num  
FROM Customers LEFT OUTER JOIN Orders  
&emsp;&emsp;ON Customers.cust_id = Orders.cust_id  

可以和内联结比较一下：  
SELECT Customers.cust_id, Orders.order_num  
FROM Customers, Orders  
WHERE Customers.cust_id = Orders.cust_id  

#### 右联结（RIGHT OUTER JOIN）

使用左联结，对调 LEFT OUTER JOIN 左右两边表的顺序就可以实现右联结，这样更通用，比如在 pandas 或者 SQLite 中就不支持右联结。  

#### 全联结（FULL OUTER JOIN）  

显示 FULL OUTER JOIN 关键字两边的全部行。  
但是很多主流数据库都不支持全联结，比如 Access、MySQL、MariaDB、SQLite......

## 3、带聚集函数的联结  

表联结同聚集函数同时使用。  

例如：  
SELECT Customers.cust_id, count(Orders.order_num) AS num_ord  
FROM Customers, Orders  
WHERE Customers.cust_id = Orders.cust_id  
GROUP BY Customers.cust_id;  

内联结表示：  
SELECT Customers.cust_id, count(Orders.order_num) AS num_ord  
FROM Customers INNER JOIN Orders  
ON Customers.cust_id = Orders.cust_id  
GROUP BY Customers.cust_id;