# 组合查询（union）  

在 SQL 中执行多个 SELECT 查询，并将结果整合为一个结果集返回，也叫复合查询（compound query）

## 1、创建组合查询  

使用 UNION 关键字联结多个 SELECT 查询即可。  
注意：多个 SELECT 查询的列数量需要相同，列名不一定相同。

SELECT cust_name, cust_contact, cust_email  
FROM Customers  
WHERE cust_state IN ('IL', 'IN', 'MI')  
UNION  
SELECT cust_name, cust_contact, cust_email  
FROM Customers  
WHERE cust_name = 'Fun4All'  

上例的 WHERE 写法：  
SELECT cust_name, cust_contact, cust_email  
FROM Customers  
WHERE cust_state IN ('IL', 'IN', 'MI')  
&emsp;&emsp;OR cust_name = 'Fun4All'